{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'hirek/css/header.css' %}" />
    <link rel="stylesheet" href="{% static 'hirek/css/aktualis.css' %}" />
    <link rel="stylesheet" href="{% static 'hirek/css/szinek.css' %}" />
  </head>
  <body>
    <header>
      <img
        class="gab_feher_bal"
        src="{% static 'hirek/images/gab_feher.png' %}"
        alt="GAB Fehér"
      />
      <div class="header-text">
        <h1>Griff and Bulls</h1>
        <p>Egyesület egy kicsit másképp...</p>
      </div>
      <img
        class="gab_feher_jobb"
        src="{% static 'hirek/images/gab_feher.png' %}"
        alt="GAB Fehér"
      />
    </header>
    <main>
      <h1>Aktualis</h1>
      <hr />
      <div class="hirek_container">
        {% for hir in hirek %}
        <a href="{% url 'hir_reszletek' hir.slug %}" class="hir_link">
          <div class="hir_csempe">
            <h2>{{ hir.cim }}</h2>
            <div class="datum">{{ hir.letrehozva|date:"Y.m.d" }}</div>
            <div class="kedvcsinalo">
              {{ hir.tartalom|truncatewords:30 }}
            </div>
          </div>
        </a>
        {% endfor %}
      </div>
    </main>
  </body>
</html>