{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pályázat</title>
    <link rel="stylesheet" href="{% static 'hirek/css/footer.css' %}" />
    <link rel="stylesheet" href="{% static 'hirek/css/palyazat.css' %}" />
    <link rel="stylesheet" href="{% static 'hirek/css/szinek.css' %}" />
    <link rel="stylesheet" href="{% static 'hirek/css/header.css' %}" />
  </head>
  <body>
    <header>
      <img
        class="gab_feher_bal"
        src="{% static 'hirek/images/gab_feher.png' %}"
        alt="GAB Fehér"
      />
      <div class="header-text">
        <h1>Griff and Bulls</h1>
        <p>Egyesület egy kicsit másképp...</p>
      </div>
      <img
        class="gab_feher_jobb"
        src="{% static 'hirek/images/gab_feher.png' %}"
        alt="GAB Fehér"
      />
    </header>
    <main>
      <nav>
        <ul>
          <li><a href="/index/">Vissza a főoldalra</a></li>
        </ul>
      </nav>
      <!-- PDF Display Section -->
      <section class="pdf-display-section">
        <h2 class="pdf-display-title">Pályázati dokumentumok</h2>
        <div class="pdf-display-container">
          {% for pdf in pdfs %}
          <div class="pdf-item">
            <h3>{{ pdf.title }}</h3>
            <div class="button-container">
              <button class="button" >
                <a href="{{ pdf.file.url }}" target="_blank" class="pdf-link"></a>
                <div class="button-wrapper">
                  <div class="text"> Letöltés</div>
                  <span class="icon">
                    <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="img" width="2em" height="2em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 15V3m0 12l-4-4m4 4l4-4M2 17l.621 2.485A2 2 0 0 0 4.561 21h14.878a2 2 0 0 0 1.94-1.515L22 17"></path></svg>
                </span>
                </div>
              </button>
            </div>
            <small>Feltöltve: {{ pdf.uploaded_at|date:"Y.m.d H:i" }}</small>
          </div>
          {% empty %}
          <p class="no-pdfs">
            Jelenleg nincsenek elérhető pályázati dokumentumok.
          </p>
          {% endfor %}
        </div>
      </section>
    </main>
    <footer>
      <div class="footer-container">
        <div class="footer-info">
          <h3>Griff & Bulls SE</h3>
          <p><strong>Cím:</strong> 1234 Budapest, Sport utca 5.</p>
          <p><strong>Telefon:</strong> +36 30 123 4567</p>
          <p><strong>E-mail:</strong> info@griffbulls.hu</p>
        </div>
        <section class="footer_kapcsolat," id="kapcsolat">
          <div class="footer-socials">
            <h3>Kövess minket!</h3>
            <a
              href="https://www.facebook.com/p/Griff-Bulls-SE-100057331514748/"
              target="_blank"
              >Facebook</a
            >
            <a
              href="https://www.instagram.com/griff_and_bulls_se?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw=="
              target="_blank"
              >Instagram</a
            >
          </div>
        </section>

        <div class="footer-links">
          <h3>Fontos linkek</h3>
          <a href="palyazat.html">Pályzati dokumentumok</a>
        </div>
      </div>
      <p class="footer-copy">
        © 2025 Griff & Bulls SE - Minden jog fenntartva.
      </p>
    </footer>
  </body>
</html>
