* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.sections-container {
  display: flex;
  justify-content: space-between;
  gap: 15px;
  align-items: stretch;
  max-width: 80%;
  margin: 0 auto;
  margin-bottom: 20px;
}

.hirek_section {
  flex: 1;
  display: flex;
  gap: 15px;
  background-color: var(--griff-hatter-szin);
  border-radius: 8px;
  box-shadow: 0 3px 6px var(--shadow-color);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  text-decoration: none;
  padding: 15px;
  min-height: 150px; /* Minimum magasság biztosítása */
}

.hirek_section img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 20%;
  flex-shrink: 0;
  align-self: center; /* Kép középre igazítása függőlegesen */
}

.text-content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.hír_cim {
  font-size: 19px;
  color: var(--text-vilagos-arany);
  margin: 0 0 10px 0;
  line-height: 1.3;
  flex-grow: 1; /* A cím növekedhet a rendelkezésre álló térben */
}

.datum {
  font-size: 17px;
  color: var(--text-primary);
  font-style: italic;
  margin-top: 10px; 
}

@media (max-width: 950px) {
  .sections-container {
    flex-direction: column;
  }
  
  .hirek_section {
    width: 100%;
    min-height: 120px; 
  }

  .hirek_section img {
    width: 80px;
    height: 80px;
  }

  .hír_cim {
    font-size: 17px;
  }
}