{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Griff & Bulls</title>
    <link rel="stylesheet" href="{% static 'hirek/fooldal_hirek.css' %}" />
    <link rel="stylesheet" href="{% static 'hirek/header.css' %}" />
    <link rel="stylesheet" href="{% static 'hirek/footer.css' %}" />
    <link rel="stylesheet" href="{% static 'hirek/nav_bar.css' %}" />
    <link rel="stylesheet" href="{% static 'hirek/rolunk.css' %}" />
    <link rel="stylesheet" href="{% static 'hirek/tabella.css' %}" />
    <link rel="stylesheet" href="{% static 'hirek/szinek.css' %}" />
    <link rel="stylesheet" href="{% static 'hirek/switch_button.css' %}" />
    <script src="{% static 'hirek/script.js' %}" defer></script>
  </head>
  <body>
    <header>
      <img
        class="gab_feher_bal"
        src="{% static 'hirek/gab_feher.png' %}"
        alt="GAB Fehér"
      />
      <div class="header-text">
        <h1>Griff and Bulls</h1>
        <p>Egyesület egy kicsit másképp...</p>
      </div>
      <img
        class="gab_feher_jobb"
        src="{% static 'hirek/gab_feher.png' %}"
        alt="GAB Fehér"
      />
    </header>
    <nav>
      <div class="hamburger" onclick="toggleMenu()">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
      </div>
      <ul class="nav-links">
        <li><a href="{% url 'index' %}">Kezdőlap</a></li>
        <li><a href="#rolunk">Rólunk</a></li>
        <li class="dropdown">
          <a href="{% url 'csapatok' %}">Csapataink</a>
          <ul class="dropdown-menu">
            {% for kor in korosztalyok %}
            <li><a href="{% url 'korosztaly' kor.slug %}">{{ kor.nev }}</a></li>
            {% endfor %}
          </ul>
        </li>
        <li><a href="{% url 'edzok' %}">Edzőink</a></li>
        <li><a href="{% url 'palyazat' %}">Pályázat</a></li>
        <li><a href="#kapcsolat">Kapcsolat</a></li>
      </ul>
    </nav>
    
    <!-- Overlay a háttér elsötétítéséhez -->
    <div class="overlay" id="overlay"></div>
    <main>
      <div class="egesz-hirek">
        <h1 class="hirek_felirat">Híreink</h1>
        <hr class="hirek_alatt_hr" />
        <div class="sections-container">
          {% for hir in hirek %}
          <a href="{% url 'hir_reszletek' hir.slug %}" class="hirek_section">
            <img
              src="{% static 'hirek/GAB_piros_jo.jpg' %}"
              alt="Alapértelmezett kép"
            />
            <div class="text-content">
              <h3 class="hír_cim">{{ hir.cim }}</h3>
              <div class="datum">{{ hir.letrehozva|date:"Y.m.d" }}</div>
            </div>
          </a>
          {% endfor %}
        </div>
      </div>

      <!-- Csak az eredmények és következő meccsek rész cseréljük ki -->
      <div class="tartalom_kontener">
        <div class="eredmenyek_div">
          <h1 class="eredmenyek_felirat">Eredmények</h1>
          <hr class="eredmenyek_alatt_hr" />
          {% for meccs in eredmenyek %}
          <div class="eredmenyek_csik">
            <div class="eredmenyek_bal">
              <h2 class="eredmenyek_korosztaly">{{ meccs.korosztaly }}</h2>
              <h2 class="eredmenyek_meccs">
                {{ meccs.hazai_csapat }} vs {{ meccs.vendeg_csapat }}
              </h2>
              <h2 class="eredmenyek_eredmeny">{{ meccs.eredmeny }}</h2>
            </div>
            <p class="meccs_idopont">{{ meccs.datum|date:"Y.m.d" }}</p>
          </div>
          {% endfor %}
        </div>

        <div class="kovetkezo_meccsek_div">
          <h1 class="kovetkezo_meccseing_felirat">Következő meccseink</h1>
          <hr class="kovetkezo_meccs_alatt_hr" />
          {% for meccs in kovetkezo_meccsek %}
          <div class="eredmenyek_csik">
            <div class="eredmenyek_bal">
              <h2 class="eredmenyek_korosztaly">{{ meccs.korosztaly }}</h2>
              <h2 class="eredmenyek_meccs">
                {{ meccs.hazai_csapat }} vs {{ meccs.vendeg_csapat }}
              </h2>
            </div>
            <p class="meccs_idopont">{{ meccs.datum|date:"Y.m.d" }}</p>
          </div>
          {% endfor %}
        </div>
      </div>
      <div class="rolunk_container" , id="rolunk">
        <h1 class="rolunk_felirat">Rólunk</h1>
        <div class="csempek_div">
          <div class="jelenunk_container">
            <h2>Jelenünk</h2>
            <p>
              Több mint 180, MLSZ által leigazolt labdarúgóval rendelkezünk, az
              U7 korosztályától egészen az Old Boys kategóriáig bezárólag.
            </p>
            <p>5 korosztály Nemzeti bajnokságok Utánpótlás rendezvények</p>
          </div>
          <div class="rovid_cel_container">
            <h2>Rövidtávú célok:</h2>

            <ol>
              <li>Intézményi bázis kialakítása</li>
              <li>
                Intézményi bázis kialakítása Sportolási lehetőségek
                kiszélesítése a gyermek és ifjúsági labdarúgás területén,
                óvodákban, iskolákban.
              </li>
              <li>
                Egyéni képzések lehetőségének megteremtése Szabadidős
                tevékenységek kisebb közösségeknek Nyári edzőtáborok és
                üdültetések Sportprogramok szervezése
              </li>
            </ol>
          </div>
          <div class="hosszu_cel_container">
            <h2>Hosszútávú célok:</h2>
            <p>
              Együttműködés állami és magán céggekkel, szervezetekkel, akik
              hangsúlyt fordítanak a dolgozóIk és családjaik értékes szabadidős
              tevékenységére, a kellemesebb munkahelyi környezetre
            </p>

            <p>Focibajnokság - Családi nap - Közösség építő programok</p>

            <p>TEREMTSÜNK KÖZÖS ÉLMÉNYEKET ÉS TEGYÜNK EGYÜTT A KÖZÖSSÉGÉRT!</p>
          </div>
        </div>
      </div>
    </main>
    <footer>
      <div class="footer-container">
        <div class="footer-info">
          <h3>Griff & Bulls SE</h3>
          <p><strong>Cím:</strong> 1234 Budapest, Sport utca 5.</p>
          <p><strong>Telefon:</strong> +36 30 123 4567</p>
          <p><strong>E-mail:</strong> info@griffbulls.hu</p>
        </div>
        <section class="footer_kapcsolat," id="kapcsolat">
          <div class="footer-socials">
            <h3>Kövess minket!</h3>
            <a
              href="https://www.facebook.com/p/Griff-Bulls-SE-100057331514748/"
              target="_blank"
              >Facebook</a
            >
            <a
              href="https://www.instagram.com/griff_and_bulls_se?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw=="
              target="_blank"
              >Instagram</a
            >
          </div>
        </section>

        <div class="footer-links">
          <h3>Fontos linkek</h3>
          <a href="palyazat.html">Pályzati dokumentumok</a>
        </div>
      </div>
      <p class="footer-copy">
        © 2025 Griff & Bulls SE - Minden jog fenntartva.
      </p>
    </footer>
  </body>
</html>
